:root {
  --primary-purple: #5d19a2;
  --light-purple: #e9e0f6;
  --text-dark: #212121;
  --text-light: #666;
  --star-yellow: #ffc107;
  --card-bg: #f6f6f6;
  --card-border-radius: 14px;
  --discount-color: #fe94e6;
  --timer-text: #d36be7;
  --secondary-purple: #5E1AA6;
  --shop-now-button: #FF92E9
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: var(--text-dark);
  padding: 40px 0;
}

.product-cards-grid,
.product-cards-wrapper {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  padding-bottom: 20px;
  scrollbar-width: none;
}
.product-cards-grid::-webkit-scrollbar,
.product-cards-wrapper::-webkit-scrollbar {
  display: none;
}
